<%- include('partials/header.ejs') %>
    <h2>Title : <%=title%>
    </h2><br>
    <h2>Price : <%=price%>
    </h2><br>
    <h2>Desc : <%=desc%>
    </h2><br>
    <h2>Latitude : <%=lat%>
    </h2><br>
    <h2>Longitude : <%=long%>
    </h2><br>
    <h2>Locality : <%=loc%>
    </h2><br>
    <h2>User : <%=user_type%>
    </h2><br>
    <h2>Id : <%=id%>
    </h2>
    <form
        action="/houserent/maps/details/wishlist?title=<%=title%>&price=<%=price%>&desc=<%=desc%>&lat=<%=lat%>&long=<%=long%>&loc=<%=loc%>&user=<%=user_type%>&id=<%=id%>"
        method="post">

        <input type="submit">AddToWishList</input>
    </form>
    <%- include('partials/footer.ejs') %>